.App {
  text-align: center;
}

.progress{
  font-family: BlackOpsOne;
  padding-top: 40px;
  font-size: 24px;
  width: 450px;
}

.percentage-progress{
  color: white;
}

.percentage-flex{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.h1-main{
  color: white;
  font-family: BlackOpsOne;
  font-size: 80px;
}

.h1-title {
  font-family: BlackOpsOne;
  font-size: 28px;
}


.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@media only screen and (max-width: 600px) {

  .progress{
    width: 250px;
  }

  .h1-main{
    font-size: 40px;
  }

  .App-header {
    justify-content: normal;
    padding-top: 30px;
    padding-bottom: 20px;
  }

}





